/***********/
body{
	margin:0;
	background: #fff;
	font-family: 'Arial';
}
li, a , p, div, span {font-family: 'Arial';}
img{
	max-width:100%;
}
.content-sec {
    padding: 30px 0;
}
.content-left h4 {
    color: #004157;
    font-size: 24px;
    margin: 0 0 15px;
}
.content-left h6 {
    color: #adadad;
    font-size: 16px;
    font-weight: 200;
    margin: 0 0 15px;
}
.content-right a {
    background: #7AB800;
    padding: 10px 15px;
    color: #fff;
    font-size: 15px;
    display: inline-block;
}
.image h5 {
    color: #7ab800;
    margin: 10px 0 5px;
    font-size: 28px;
}
.image h6 {
    position: relative;
    font-size: 22px;
}
.image h6:after {
    content: "";
    background: #000;
    width: 39%;
    height: 1px;
    position: absolute;
    left: 26%;
    top: 55%;
    transform: translateY(-53%);
}
.content-right {
    text-align: right;
}
.con-sec h6 {
    color: #adadad;
}
.con-sec p {
    margin: 15px 0 0;
    color: #616161;
}
/*****custom select********/

.select-wrapper{
		float: left;
		display: inline-block;
		border: 1px solid #d8d8d8;
		background: url("../images/down-arrow.png") no-repeat;
		cursor: pointer;
		background-position: 97% 63%;
		width: 84%;
        height: 40px;
	}
	.select-wrapper, .select-wrapper select{

		line-height: 26px;
	}
	.select-wrapper:hover{
		border-color: #239fdb;
	}
	.select-wrapper .holder{
		display: block;
		margin: 4px 35px 0 12px;
		white-space: nowrap;
		overflow: hidden;
		cursor: pointer;
		position: relative;
		z-index: -1;
		height: 40px;
	}
	.select-wrapper select{
		margin: 0;
		position: absolute;
		z-index: 2;            
		cursor: pointer;
		outline: none;
		opacity: 0;
		/* CSS hacks for older browsers */
		_noFocusLine: expression(this.hideFocus=true); 
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0);
		-khtml-opacity: 0;
		-moz-opacity: 0;
	}	
.custom-select {
    border-radius: 0;
    height: 40px;
    /* margin: 010px 0; */
    font-size:15px;
    /* margin: 010px 0; */
    font-family: Georgia, Times, "Times New Roman", serif;
    border: 1px solid #77c398;
    padding: 0 6px !important;
    color: #000;
}
.custom-select:focus, .custom-select:active,.custom-select:hover {
    outline: none;
	border-color:transparent;
	box-shadow:none;
	border:1px solid #7ab800;
}
.map-section h5 {
    margin-bottom: 42px;
    color: #7ab800;
    text-align: center;
    font-size: 28px;
	font-family: Georgia, Times, "Times New Roman", serif;
}
/********map-sec*********/
#map {
    width: 100%;
    margin: 40px;
}
.custom_select {/* margin: 0 0 0 40px; */}


/******timeline sec********/
.table-inner ul li {
    list-style: none;
    display: inline-block;
    width: 14%;
    text-align: center;
    vertical-align: top;
    padding: 0 0 15px;
    font-weight: 600;
    color: #767f8e;
}
.table-inner ul {
    margin: 0;
    padding: 0;
}
li.timeline-sec ul li {
     width: auto; 
}
li.timeline-sec ,li.timelinee{
    width: 26% !important;
}
li.timeline-sec ul li {
    padding: 4px 6px;
    text-align: left;
    font-size: 12px;
}
.data-sec {
    background: #ffffff;
    padding: 15px;
    box-shadow: 1px 1px 6px 2px #f5f5f5;
    margin: 5px 0;
}
.data-sec ul li {
    padding: 0;
    vertical-align:middle;
    font-weight: 400;
    color: #000;
    font-size: 12px;
}
.timeline-table {
    padding: 10px 20px;
}
.unclear {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background: #f4f7fc;
    margin: auto;
    border: 1px solid #f4f7fc;
	position:relative;
}
span.true {
    width: 9px;
    height: 9px;
    background: #ff7f8a;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
}/**********single-card***********/
.single-card-iner ul li {
    list-style: none;
    width: 19%;
    display: inline-block;
    text-align: left;
    vertical-align: top;
}
.single-card-iner ul li {
    list-style: none;
    width: 19%;
    display: inline-block;
    text-align: left;
    vertical-align: top;
}
.single-card-iner {
    background:#fff;
    background-repeat: no-repeat;
    position: relative;
    background-size: contain;
    margin: 20px 0;
    box-shadow: 1px 1px 8px 1px #e6e6e6;
}
.single-card-iner ul {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 16px;
}
.card-data-sec li {
    font-weight: 400;
    margin: 15px 0 0;
}
svg.circliful {
    max-width: 100%;
    height: 124px;
}
.responv-design {
    display: none;
}

.jsmaps-select.mobile {
    display: none;
}
.table-inner {
    display: none;
	margin:40px 0 0;
}
.custom_btn-chart, .map-btn {
    display: inline-block;
    padding: 0 6px 0 0;
}
.custom_btn-chart i, .map-btn i {
    font-size: 23px;
    color: #000 !important;
    vertical-align: middle;
}
#map {
	margin:40px 0 0;
}


#map  {
  position: relative;
  margin: 50px auto 0;
  /* console */
  }
  
#map  .jsmaps-preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 16px 14px; }

#map  .jsmaps-text {
    float: left;
    overflow: auto;
    padding: 10px 20px;
    clear: both; }
	
.jsmaps-tooltip {
    position: fixed;
    display: none;
    padding: 10px 15px;
    background: #f2f2f2;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #262626;
    border-radius: 4px;
    pointer-events: none;
    /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
    /* useful if you don't want a bg color from leaking outside the border: */
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; }

.hover-content ul li {
    width: 49%;
    text-align: left;
    padding: 3px;
    font-size: 12px;
    font-weight: 400;
}
.hover-content {
    padding: 15px;
    border-bottom: 3px solid #74d175;
    position: absolute;
    box-shadow: 0px -1px 8px 3px #ececec;
    display: none;
    z-index: 999;
    top: 40px;
    background: #fff;
    width: 40%;
}
.hov-con {
    font-weight: 600 !important;
    color: #444 !important;
}
.hover-content:before {
    content: "";
    border-bottom: 26px solid #ffffff;
    border-left: 18px solid transparent;
    border-right: 22px solid transparent;
    top: -6%;
    left: 10%;
    position: absolute;
}
.data:hover .hover-content.topshow:before {
    top: auto;
    bottom: -26px;
    border-top: 26px solid #ffffff;
    border-bottom: 0 solid #ffffff;
}

.data:hover .hover-content.topshow {
    top: auto;
    bottom: 100%;
	border-bottom: 0 solid #fff;
	border-top: 3px solid #74d175;
}
.table-inner .timelinee {
    border-radius: 25px;
    position: relative;
}
.data {
    position: relative;
}
.data:hover .hover-content {
    display: block;
}
#chartt svg {
    margin: -150px -1px;
    width: 74%;
}
.highcharts-container {
    height: auto !important;
}
#doughnut-chart {
    width: 150px !important;
    height: 150px !important;
}
.back-color {
    height: 100%;
    position: relative;
    left: 0;
	 display: flex;
    align-items: center;
    width: 100%;
}
.back-color:after {
    content: "";
    left: 0;
    background: none;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 99999999;
    background-size: 100%;
    background-position: right;
    top: 0;
    /* border: 2px solid #fff; */
}
.card-left {
    padding: 40px 0;
}
.svg-container{
    padding: 30px 0;
}
.back-color span {
    color: #fff;
    text-align: center;
    vertical-align: middle;
    font-size: 65px;
    margin: 0 25px;
    line-height: 183px;
}
.label-year {
    font-weight: 600;
    font-size: 15px;
}
.graph {
    margin: 40px -12px;
}
.footer-list .list-second li {
    width: 33%;
    padding: 0 10px;
    font-weight: normal;
    color: #212;
}

.footer-list.col-md-12 {
    padding-top: 20px;
    padding-bottom: 20px;
}
ul.list-second a {
    display: block;
}
.graph li.timeline-sec {
    width: auto !important;
    list-style: none;
    /* margin: 10px 0 4px; */
}
.graph .hover-content {
    width: 100%;
    margin: 0 10px 0 0;
}
.timelineeinner:hover .hover-content {
    display: block;
}
.graph .hover-content {
    top: 85px;
}
.data-table, .data-sec {
    display: block;
}
.single-card-iner ul li {
    font-size: 12px;
}
.mob-ul {
    display: none;
}

.legend {
    position: absolute;
    bottom: -27%;
    right: 24%;
}
.map-outr {
    position: relative;
}
.legend ul li {
    list-style: none;
    padding: 3px 0;
    font-size: 12px;
    font-family: arial;
}
.legend ul {
    padding: 0;
}
.legend h4 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 6px;
}
.legend ul li span {
    width: 20px;
    height: 20px;
    background: #000;
    display: inline-block;
    margin: 0 5px;
    vertical-align: middle;
}
span.rfp {
    background: #76b7b2 !important;
}
span.spa {
    background: #f28e2b !important;
}
span.spo {
    background: #e15759 !important;
}
span.wa {
    background: #4e79a7 !important;
}
.map-section {
    padding: 0 0 0;
}
.row.drops {
    margin: 38px 0 0;
    max-width: 800px;
    margin: 38px auto 0;
}
.page_outr {
    padding: 15px 0 0;
}
a.charttt {
    display: inline-block;
    padding: 4px 21px;
    font-size: 18px !important;
    background: #77c398;
    color: #000;
    border-radius: 4px;
    margin-right: 5px;
    font-family: Georgia, Times, "Times New Roman", serif;
}
a.charttt i {
    padding-right: 5px;
    vertical-align: text-bottom;
}
ul.list-heading li {
    font-size: 15px;
}
/******responsive******/
@media (max-width:767px){
.image {
    margin: 20px 0; 
}
.select-wrapper {
    margin: 4px 0;
}
.content-right {
    text-align: left;
}
.icon-sec {
    margin: 14px 0 0;
    text-align: center;
}
.graph {
    margin: 0;
    padding: 15px 47px;
}
.graph  ul {
    width: 100% !important;
    float: none;
   
}
li.timeline-sec ul li {
    width: auto !important;
}
.graph .label-year {
    text-align: center;
}
.footer-list .list-second li {
    width: 100%;
}

/****res*****/
.responv-design ul li {
    list-style: none;
    width: 100% !important;
    padding-bottom: 5px;
}
.responv-design ul {
    padding: 0 0 6px;
    margin: 0;
}
li.timeline-sec ul li {
    display: inline-block;
}
li.timeline-sec ul li {
    display: inline-block;
    width: 0;


}
.graph li.timeline-sec{overflow: hidden;}


.responv-design li.timeline-sec ul li {
    padding: 0 20px;
    text-align: left;
	width: 15% !important;
	font-size:13px;
}
.responv-design li.timeline-sec ul {
    width: 100%;
}
.responv-design {
    display: block;
}
.table-inner {
    display: none;
}

.unclear {
    margin: inherit;
}
.responv-design {
    padding: 0 15px;
}
.res-title {
    font-weight: 600;
    font-size: 18px;
    padding: 0 0 10px;
}
.single-card-iner ul {
    width: 44%;
    float: left;
    margin: 0 5px;
}
.single-card-iner ul li {
    display: block;
    margin: 6px 0;
    width: 100%;
}
.card-left {
    width: 100%;
    float: left;
    padding: 15px 25px;
}
div#donut-chart35 {
    margin: 10px auto 30px;
}
.back-color:after {
    display: none;
}
.back-color span {
    font-size: 30px;
    line-height: 60px;
    text-align: center;
}
.back-color {
    height: 62px;
    text-align: center;
}
#map .jsmaps {
    margin: auto;
    width: auto !important;
}
.charts {
    margin: 10px auto 30px;
}
.custom-select {
    margin: 10px 0;
}
.responv-design li.res-title {
    color: #000 !important;
    text-align: left !important;
}
.responv-design  li {
    text-align: left !important;
}
.data-sec {
    display: none;
}
.custom_select {
    margin: 0;
}
.data-table {
    display: none;
}

.mob-ul {
    display: none;
}
.legend {
    position: inherit;
    right: inherit;
    padding: 18px 20px;
}
/****res*****/
}

@media screen and (max-width:350px){
	a.charttt {
    margin: 5px 0;
}
}
@media  screen and (min-width:767px) and (max-width:992px){
	.custom_btn-chart i, .map-btn i {
    font-size: 28px;
}
.single-card-iner {
    width: 100%;
    /* float: left; */
    /* margin: 10px; */
}
.single-card-iner ul {
    width: 44%;
    float: left;
    margin: 0 5px;
}
.single-card-iner ul li {
    display: block;
    margin: 6px 0;
    width: 100%;
}
.card-left {
    width: 100%;
    float: left;
    padding: 15px 25px;
}
div#donut-chart35 {
    margin: 10px auto 30px;
}
.back-color:after {
    display: none;
}
.back-color span {
    font-size: 30px;
    line-height: 60px;
    text-align: center;
}
.back-color {
    /* height: 62px; */
    text-align: center;
}
#map .jsmaps {
    width: auto !important;
}
li.timeline-sec, .timelineeinner,.label-year {
    display: none;
}
.mob-ul {
    display: block;
}
.footer-list ul.list-second li {
    width: 100%;
}
.data-sec ul li,.table-inner ul li {
    font-size: 12px;
} 
.legend {
    position: inherit;
    right: inherit;
    padding: 18px 20px;
}
a.charttt {
    padding: 4px 17px;
}
}
@media  screen and (min-width:992px) and (max-width:1230px){
.back-color span {
    font-size: 36px;
}
.graph {
    margin: 16px 0;
}
.graph .timeline-sec ul li {
    font-size: 12px;
    width: auto !important;
}
a.charttt {
    padding: 4px 17px;
}
}

@media screen and (min-width:1240px){

#map, svg{
    max-width: 920px;
    max-height: 600px !important;
}
.row.drops .col-md-4 {
    padding: 0 12px 0 0;
}
.map-btn {
    margin-left: -4px;
}
}