/***********/
body{
	margin:0;
	background:#f4f7fc;
	font-family: 'Roboto', sans-serif;
}
img{
	max-width:100%;
}
.content-sec {
    padding: 30px 0;
}
.content-left h4 {
    color: #004157;
    font-size: 24px;
    margin: 0 0 15px;
}
.content-left h6 {
    color: #adadad;
    font-size: 16px;
    font-weight: 200;
    margin: 0 0 15px;
}
.content-right a {
    background: #7AB800;
    padding: 10px 15px;
    color: #fff;
    font-size: 15px;
    display: inline-block;
}
.image h5 {
    color: #7ab800;
    margin: 10px 0 5px;
    font-size: 28px;
}
.image h6 {
    position: relative;
    font-size: 22px;
}
.image h6:after {
    content: "";
    background: #000;
    width: 39%;
    height: 1px;
    position: absolute;
    left: 26%;
    top: 55%;
    transform: translateY(-53%);
}
.content-right {
    text-align: right;
}
.con-sec h6 {
    color: #adadad;
}
.con-sec p {
    margin: 15px 0 0;
    color: #616161;
}


/*****custom select********/

.select-wrapper{
		float: left;
		display: inline-block;
		border: 1px solid #d8d8d8;
		background: url("../images/down-arrow.png") no-repeat;
		cursor: pointer;
		background-position: 97% 63%;
		width: 84%;
        height: 40px;
	}
	.select-wrapper, .select-wrapper select{

		line-height: 26px;
	}
	.select-wrapper:hover{
		border-color: #239fdb;
	}
	.select-wrapper .holder{
		display: block;
		margin: 4px 35px 0 12px;
		white-space: nowrap;
		overflow: hidden;
		cursor: pointer;
		position: relative;
		z-index: -1;
		height: 40px;
	}
	.select-wrapper select{
		margin: 0;
		position: absolute;
		z-index: 2;            
		cursor: pointer;
		outline: none;
		opacity: 0;
		/* CSS hacks for older browsers */
		_noFocusLine: expression(this.hideFocus=true); 
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0);
		-khtml-opacity: 0;
		-moz-opacity: 0;
	}	
.custom-select {
    border-radius: 0;
    width: 79%;
    height: 40px;
	font-size:15px;
    /* margin: 010px 0; */
	font-family: Georgia, Times, "Times New Roman", serif;
}
.custom-select:focus, .custom-select:active,.custom-select:hover {
    outline: none;
	border-color:transparent;
	box-shadow:none;
	border:1px solid #7ab800;
}
.map-section h5 {
    margin-bottom: 42px;
    color: #7ab800;
    text-align: center;
    font-size: 28px;
	font-family: Georgia, Times, "Times New Roman", serif !important;
}
/********map-sec*********/
#map {
    width: 100%;
    margin: 40px;
}
.custom_select {
    margin: 5px auto 49px;
    max-width: 500px;
}
.map-section {
    padding: 35px 0;
}


/******timeline sec********/
.table-inner ul li {
    list-style: none;
    display: inline-block;
    width: 14%;
    text-align: center;
    vertical-align: top;
    padding: 0 0 15px;
    font-weight: 600;
    color: #767f8e;
}
.table-inner ul {
    margin: 0;
    padding: 0;
}
li.timeline-sec ul li {
    width: auto;
}
li.timeline-sec ,li.timelinee{
    width: 26% !important;
}
li.timeline-sec ul li {
    padding: 4px 6px;
    text-align: left;
}
.data-sec {
    background: #ffffff;
    padding: 15px;
    box-shadow: 1px 1px 6px 2px #f5f5f5;
    margin: 5px 0;
}
.data-sec ul li {
    padding: 0;
    vertical-align:middle;
    font-weight: 400;
    color: #000;
    /* line-height: 1; */
    font-size: 15px;
    text-align: left;
}
.timeline-table {
    padding: 50px 20px;
}
.unclear {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background: #f4f7fc;
    margin: auto;
    border: 1px solid #f4f7fc;
	position:relative;
}
span.true {
    width: 9px;
    height: 9px;
    background: #ff7f8a;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
}/**********single-card***********/
.single-card-iner ul li {
    list-style: none;
    width: 19%;
    display: inline-block;
    text-align: left;
    vertical-align: top;
}
.single-card-iner ul li {
    list-style: none;
    width: 19%;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    word-break: break-all;
}
.single-card-iner {
    background:#fff;
    background-repeat: no-repeat;
    position: relative;
    background-size: contain;
    margin: 48px 0 20px;
    box-shadow: 1px 1px 8px 1px #e6e6e6;
    transition: 0.3s ease all;
}
.single-card-iner ul {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 16px;
}
.card-data-sec li {
    font-weight: 400;
    margin: 15px 0 0;
}
svg.circliful {
    max-width: 100%;
    height: 124px;
}
.responv-design {
    display: none;
}

.jsmaps-select.mobile {
    display: none;
}
.table-inner {
    display: none;
	margin:40px 0 0;
}
.custom_btn-chart, .map-btn {
    display: inline-block;
    padding: 0 7px;
}
.custom_btn-chart i, .map-btn i {
    font-size: 38px;
    color: #7ab800;
    vertical-align: top;
}
#map {
	margin: 40px 0 0;
	position: relative;
}
.icon-sec {
    /* text-align: center; */
}

#map .jsmaps{
    margin: auto;
    width: 945px !important;
}
.hover-content ul li {
    width: 49%;
    text-align: left;
    padding: 3px;
    font-size: 14px;
    font-weight: 400;
}
.hover-content {
    padding: 15px;
    border-bottom: 3px solid #74d175;
    position: absolute;
    box-shadow: 0px -1px 8px 3px #ececec;
    display: none;
    z-index: 999;
    right: 0px;
    top: 40px;
    background: #fff;
    width: 40%;
}
.hov-con {
    font-weight: 600 !important;
    color: #444 !important;
}
.hover-content:before {
    content: "";
    border-bottom: 26px solid #ffffff;
    border-left: 18px solid transparent;
    border-right: 22px solid transparent;
    top: -6%;
    left: 10%;
    position: absolute;
}
.table-inner .timelinee {
    border-radius: 25px;
    background: #efefef;
    position: relative;
}
.data {
    position: relative;
}
.data:hover .hover-content {
    display: block;
}
#chartt svg {
    margin: -150px -1px;
    width: 74%;
}
.highcharts-container {
    height: auto !important;
}
#doughnut-chart {
    width: 150px !important;
    height: 150px !important;
}
.back-color {
    height: 100%;
    position: relative;
    left: 0;
    width: 100%;
    display: flex;
}
.back-color:after {
    /* content: ""; */
    left: 0;
    background: url(../images/arrow.png) no-repeat;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 99999999;
    /* background-size: 100% 100%; */
    background-position: left;
    /* top: 0; */
    /* border: 2px solid #fff; */
}
.card-left {
    padding: 40px 0 10px;
    cursor: pointer;
}
.svg-container{
    padding: 30px 0;
}
.back-color span {
    color: #fff;
    text-align: center;
    vertical-align: middle;
    font-size: 60px;
    margin: auto;
    line-height: normal;
}
.label-year {
    font-weight: 600;
}
.graph {
    margin: 40px -12px;
}
.timeline-table {
    display: none;
}
.card-left li {
    font-size: 16px;
}
.card-left  .card-data-sec li {
    font-size: 14px;
}
.legends li {
    list-style: none;
}
.legends li span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #000;
    display: inline-block;
    margin: 0 8px;
}
.legends li span.blue {
    background: #4e79a7;
}
.legends li span.green {
    background: #76b7b2;
}
.legends li span.orange {
    background: #f28e2b;
}
.legends li span.red {
    background: #e15759;
}
.legends {
    position: absolute;
    right: 0;
}
.card-bottom ul li {
    width: 100%;
    font-weight: 400;
    background-color: white;
    text-align: justify;
}
.card-bottom {
    display: none;
	padding: 0 0 40px;
}
li.title-notes {
    font-weight: 600 !important;
    display: block !important;
}
.read {
    margin: 10px 0 20px;
    text-transform: capitalize;
    font-size: 15px;
    cursor:pointer;
}
.card-bottom ul {
    margin-bottom: 12px;
}
.legends.mob{
	display:none;
}
.card-parent {
    cursor: pointer;
}
/******responsive******/
@media (max-width:767px){
.image {
    margin: 20px 0; 
}
.select-wrapper {
    margin: 4px 0;
}
.content-right {
    text-align: left;
}
.icon-sec {
    margin: 14px 0 0;
    text-align: center;
}
/****res*****/
.responv-design ul li {
    list-style: none;
	width:100% !important;
}
.responv-design ul {
    padding: 0 0 10px;
    margin: 0;
    background: #ffff;
    /* margin: 10px; */
    /* padding: 15px; */
}
li.timeline-sec ul li {
    display: inline-block;
}
li.timeline-sec ul li {
    display: inline-block;
    width: 0;
    font-size: 11px;
}

.responv-design li.timeline-sec ul li {
    padding: 0 20px;
    text-align: left;
	width: 15% !important;
	font-size:13px;
}
.responv-design li.timeline-sec ul {
    width: 100%;
}
.responv-design {
    display: block;
}
.table-inner {
    display: none;
}

.unclear {
    margin: inherit;
}
.responv-design {
    padding: 0 15px;
    background: #fff;
}
.res-title {
    font-weight: 600;
    font-size: 18px;
    padding: 0 0 10px;
}
.single-card-iner ul {
    width: 46%;
    float: left;
    margin: 0 5px;
}
.single-card-iner ul li {
    display: block;
    margin: 6px 0;
    width: 100%;
}
.card-left {
    width: 100%;
    float: left;
    padding: 15px 25px;
}
div#donut-chart35 {
    margin: 10px auto 30px;
}
.back-color:after {
    display: none;
}
.back-color span {
    font-size: 30px;
    line-height: 60px;
    text-align: center;
}
.back-color {
    height: 62px;
    text-align: center;
}
#map .jsmaps {
    margin: auto;
    width: auto !important;
}
.charts {
    margin: 10px auto 30px;
}
.custom-select {
    margin: 10px 0;
}
.table-inner {
    display: none;
}
div#responv-design {
    margin: 56px 0;
}
.responv-design ul li {
    padding: 3px 0;
}
.timelineeinner {
    background: #f3f3f3;
    border-radius: 25px;
    margin: 10px 0;
}
/*#map svg {
    height: auto !important;
}*/
.timelineeinner {
    margin: 10px 0 !important;
}
.label-year {
    text-align: center;
    margin-bottom: 14px;
}.graph {
    margin: 40px 0;
    padding: 0 27px;
}
.single-card-iner.card1 {
    width: 100%;
    float: left;
}
.graphchart canvas {
    /* height: 258px !important; */
    /* width: 480px !important; */
    margin: auto;
}
.legends{
	display:block;
	position: inherit !important;
	margin: 22px 0;
}
.card-bottom {
    padding: 0 33px 40px;
}
.read {
    padding: 0 31px;
}
/****res*****/
}

@media  screen and (min-width:767px) and (max-width:992px){
	.custom_btn-chart i, .map-btn i {
    font-size: 28px;
}
.single-card-iner {
    width: 47%;
    float: left;
    margin: 10px;
    height: 688px;
}
.single-card-iner ul {
    width: 47%;
    float: left;
    margin: 0 5px;
}
.table-inner {
    display: none;
}
.single-card-iner ul li {
    display: block;
    margin: 6px 0;
    width: 100%;
}
.card-left {
    width: 100%;
    float: left;
    padding: 15px 25px;
}
div#donut-chart35 {
    margin: 10px auto 30px;
}
.back-color:after {
    display: none;
}
.back-color span {
    font-size: 30px;
    line-height: 60px;
    text-align: center;
}
.back-color {
    height: 62px;
    text-align: center;
}
#map .jsmaps {
    width: auto !important;
}
h3 {
    margin: 0;
    font-size: 21px !important;
    color: #000 !important;
}
.requirements ul {
    margin: 0;
}
.requirements ul li {
    margin: 4px 0 !important;
}
.ans li {
    line-height: normal !important;
    font-size: 15px !important;
}
/*****restable***/
/****res*****/
.graph {
    margin: 40px 0;
    padding: 0 27px;
}
.responv-design ul li {
    list-style: none;
	width:100% !important;
}
.responv-design ul {
    padding: 0 0 16px;
    margin: 0;
    background: #ffff;
    margin: 0 10px;
    padding: 0px;
}
li.timeline-sec ul li {
    display: inline-block;
}
li.timeline-sec ul li {
    display: inline-block;
    width: 0;
    font-size: 11px;
}

.responv-design li.timeline-sec ul li {
    padding: 0 20px;
    text-align: left;
	width: 15% !important;
	font-size:13px;
}
.responv-design li.timeline-sec ul {
    width: 100%;
}
.responv-design {
    display: block;
}
.table-inner {
    display: none;
}
.card-data-sec li {
    font-size: 14px !important;
}
.unclear {
    margin: inherit;
}
.responv-design {
    padding: 0 15px;
}
.res-title {
    font-weight: 600;
    font-size: 18px;
    padding: 0 0 10px;
}
.single-card-iner ul {
    width: 46%;
    float: left;
    margin: 0 5px;
}
.single-card-iner ul li {
    display: block;
    margin: 6px 0;
    width: 100%;
    word-break: break-all;
}
.card-left {
    width: 100%;
    float: left;
    padding: 15px 25px;
}
div#donut-chart35 {
    margin: 10px auto 30px;
}
.back-color:after {
    display: none;
}
.back-color span {
    font-size: 30px;
    line-height: 60px;
    text-align: center;
}
.back-color {
    height: 62px;
    text-align: center;
}
#map .jsmaps {
    margin: auto;
    width: auto !important;
}
.charts {
    margin: 10px auto 30px;
}
.custom-select {
    margin: 10px 0;
}
.table-inner {
    display: none;
}
div#responv-design {
    margin: 56px 0;
}
.responv-design ul li {
    padding: 3px 0;
}
.timelineeinner {
    background: #f3f3f3;
    border-radius: 25px;
    margin: 10px 0;
}
/*#map svg {
    height: auto !important;
}*/
.timelineeinner {
    margin: 10px 0 !important;
}
.label-year {
    text-align: center;
    margin-bottom: 14px;
}
.responv-design {
    background: #ffff;
    margin: 18px 0;
    padding: 15px;
    box-shadow: 2px -1px 3px 3px #f1f1f1cc;
}
.single-card-iner.card1 {
    width: 100%;
    float: left;
}
.read {
    padding: 0 33px;
}
.single-card-iner.card1 .graphchart canvas {
    height: 278px !important;
    width: 500px !important;
    margin: auto;
}
.legends{
	position:inherit !important;
	    margin: 30px 0 0;
}
.legends.mob{
	display:block;
	position: inherit;
	margin: 20px  0;
}
.card-bottom {
    padding: 0 33px 40px;
}
}
@media  screen and (min-width:992px) and (max-width:1200px){
.back-color span {
    font-size: 36px;
}
.legends {
    display: none;
}
.legends.mob{
	display:block;
}
.legends.mob {
    display:block;
	position: inherit;
}
}
@media  screen and (min-width:992px){
.table-inner {
    display: block ;
}
.timeline-table {
    padding: 52px 20px 115px;
} 
}
@media  screen and (min-width:1200px){
.single-card-iner:hover {
    transform: scale(1.03);
    transition: 0.3s ease all;
} 
}

.page-outr {
    background: #eef9ff;
    padding: 15px;
}
.iner-outr {
    width: 962px;
    margin: auto;
}
.iner-outr h4 {
    color: #014a81;
    width: 583px;
    font-size: 24px;
}
.prog-sec h6 {
    font-size: 20px;
    margin: 10px 0 0;
    color: #014a81;
    font-weight: 500;
}
.prog-sec ul {
    margin: 0;
    padding: 7px 45px;
}
.single-sec h4 {
    font-size: 20px;
    width: 66%;
    display: inline-block;
    font-weight: 500;
    margin:10px 0 0;
}
.single-sec p {
    width: 34%;
    display: inline-block;
    margin: 10px 0 0;
    color: #4fc064;
    font-weight: 600;
}
.full-sec h4 {
    font-size: 20px;
    position: relative;
}
.full-sec h4:after {
    content: "";
    position: absolute;
    right: -151px;
    background: #014a81;
    width: 173px;
    height: 4px;
    top: 50%;
    transform: translateY(-50%);
}
p,li {
    color: #636363;
    font-size: 16px;
    font-family: 'Arial';
}
li {
    margin: 6px 0;
}
.page-outr ul li {
    position: relative;
    list-style: none;
}
.page-outr ul li:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid #4fc064;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
}

@media (max-width:767px){
    svg.us-state-map {
        width: 520px !important;
    }
    .iner-outr {
        width: auto;
    }
    .iner-outr h4 {
        width: auto;
    }
    .full-sec h4:after{
        display: none;
    }
    .page-outr {
        padding: 25px;
    }
}

@media screen and (min-width:760px) and (max-width:992px){
    .iner-outr {
        width: auto;
    }
    .iner-outr h4 {
        width: auto;
    }
    .full-sec h4:after{
        display: none;
    }
    .page-outr {
        padding: 25px;
    }
    svg.us-state-map {
        width: 740px !important;
        margin: 21px auto;
        height: 563px;
    }
}
@media screen and (min-width:993px) and (max-width:1024px){
svg.us-state-map {
    width: 842px !important;
    margin: 21px auto;
    height: 563px;
}
.iner-outr {
    width: auto;
}
.iner-outr h4 {
    width: auto;
}
.full-sec h4:after{
    display: none;
}
.page-outr {
    padding: 25px;
}
}



.discription-content {
    background-color: #eef8ff;
    padding: 40px;
    float: left;
}
.requirements {
    width: 100%;
    float: left;
}
.requirements ul {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
}

.requirements ul li {
    display: block;
    line-height: 50px;
    font-size: 18px;
    width: 100%;
    word-break: break-word;
    float: left;
}
h3 {
    font-size: 20px !important;
    color: #024981 !important;
    font-family: 'Times New Roman';
}
.requirements ul {
    margin: 0;
}
.requirements ul li {
    margin: 10px 0 !important;
}
.ans li {
    line-height: normal !important;
    font-size: 16px !important;
}
li span.ques {
    color: #024981;
    font-weight: bold;
    font-family: 'Times New Roman';
    font-size: 20px;
}
li span.ans {
    color: #828282;
    font-weight: normal;
}
.requirements ul li span {
    width: 50%;
    float: left;
}
.requirements ul li a {
    color: #4fc063;
    font-weight: normal;
    line-height: normal !important;
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
    font-family: 'Arial';
}

.summary {
    float: left;
    margin: 25px 0 0 0;
    width: 100%;
}
.summary h3 {
    font-weight: bold;
    color: #024981;
    font-size: 26px;
}
.summary p {
    color: #566b7b;
    font-size: 16px;
    line-height: 32px;
}
.summary li {
    color: #566b7b;
    font-size: 16px;
    /* display: block; */
    background-image: url(../images/bullet.png);
    line-height: 32px;
    background-repeat: no-repeat;
    background-position: left 10px;
    padding: 0 0 0 22px;
}
.program_name {
    text-align: center;
    margin: 30px 0 10px;
    font-family: 'Times New Roman';
    font-size: 24px;
}
.map-btn {
    vertical-align: top;
}
.summary li p {
    margin: 0;
}
.summary li {
    margin: 0;
    list-style: lightskyblue;
    font-size: 16px !important;
    list-style-type: disc;
}

p,a, span {
    text-align: justify;
    line-height: normal;
    font-family: 'Arial';
}
a {
    color: #4fc063;
}

li {
    text-align: left !important;
}
/*media query start from here*/

@media(max-width:1199px){

	.requirements ul li {
	line-height: 42px;
	font-size: 18px;
}
	
}

@media(max-width:991px){
	ul.ques li {
	width: 100%;
	float: left;
}
.requirements ul li span {
    width: 45%;
    margin: 10px;
}
}

@media(max-width:767px){
	.summary h3 {
	font-size: 20px;
}
.requirements ul li span {
    margin-bottom: 10px;
}
.requirements ul li span {
    width: 100%;
    float: left;
}
}



/* JS Map Css */

#map {
  position: relative;
  margin: 0 auto;
  /* console */ }
  #map .jsmaps-preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 16px 14px; }
 
  #map .jsmaps-text {
    float: left;
    overflow: auto;
    padding: 10px 20px;
    clear: both; }
  #map .jsmaps-tooltip {
    position: fixed;
    display: none;
    padding: 10px 15px;
    background: #f2f2f2;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #262626;
    border-radius: 4px;
    pointer-events: none;
    /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
    /* useful if you don't want a bg color from leaking outside the border: */
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; }
  #map .jsmaps-mouse-position,
  #map .jsmaps-viewbox-data {
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    color: #fff;
    font-size: 14px;
    padding: 10px; }
  #map .jsmaps-viewbox-data {
    left: auto;
    right: 0; }
  #map .jsmaps-console {
    float: left;
    clear: both;
    display: none;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 2; }
    #map .jsmaps-console ul {
      padding: 0;
      margin: 0; }
      #map .jsmaps-console ul li {
        list-style-type: none;
        float: left;
        cursor: pointer; }
        #map .jsmaps-console ul li button {
          background: none;
          border: 0;
          position: relative;
          width: 30px;
          height: 30px;
          background: rgba(0, 0, 0, 0.5);
          border-radius: 4px;
          margin-right: 1px;
          cursor: pointer;
          opacity: 0.9;
          -webkit-transition: opacity 0.3s ease-in-out;
          -moz-transition: opacity 0.3s ease-in-out;
          -ms-transition: opacity 0.3s ease-in-out;
          -o-transition: opacity 0.3s ease-in-out;
          transition: opacity 0.3s ease-in-out; }
          #map .jsmaps-console ul li button:hover {
            opacity: 1; }

.jsmaps-select {
  position: relative;
  display: none; }
  .jsmaps-select.all-devices {
    display: block; }
  @media (max-width: 767px) {
    .jsmaps-select.mobile {
      display: none; } }
  @media (min-width: 768px) {
    .jsmaps-select.tablet {
      display: block; } }
  @media (min-width: 992px) {
    .jsmaps-select.tablet {
      display: none; } }
  @media (min-width: 992px) {
    .jsmaps-select.desktop {
      display: block; } }
  .jsmaps-select select {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    padding: 10px 40px 10px 13px !important;
    border: 1px solid #999;
    border-radius: 3px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: inherit;
    /* for IE and Edge */ }
    .jsmaps-select select::-ms-expand {
      display: none; }
    .jsmaps-select select option {
      padding: 4px; }
  .jsmaps-select .jsmaps-select-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
    border-left: 1px solid #999;
    pointer-events: none; }

[class*="jsmaps-icon"] {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  [class*="jsmaps-icon"]:before, [class*="jsmaps-icon"]:after {
    content: '';
    display: inline-block; }
  [class*="jsmaps-icon"].jsmaps-icon-chevron:before {
    width: 10px;
    height: 10px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    -webkit-transform: translate(25%, 0) rotate(-135deg);
    -moz-transform: translate(25%, 0) rotate(-135deg);
    -ms-transform: translate(25%, 0) rotate(-135deg);
    transform: translate(25%, 0) rotate(-135deg); }
  [class*="jsmaps-icon"].jsmaps-icon-chevron.jsmaps-icon-chevron-right:before {
    -webkit-transform: translate(-25%, 0) rotate(45deg);
    -moz-transform: translate(-25%, 0) rotate(45deg);
    -ms-transform: translate(-25%, 0) rotate(45deg);
    transform: translate(-25%, 0) rotate(45deg); }
  [class*="jsmaps-icon"].jsmaps-icon-chevron.jsmaps-icon-chevron-up:before {
    -webkit-transform: translate(0, calc(25%)) rotate(-45deg);
    -moz-transform: translate(0, calc(25%)) rotate(-45deg);
    -ms-transform: translate(0, calc(25%)) rotate(-45deg);
    transform: translate(0, calc(25%)) rotate(-45deg); }
  [class*="jsmaps-icon"].jsmaps-icon-chevron.jsmaps-icon-chevron-down:before {
    -webkit-transform: translate(0, calc(-25%)) rotate(135deg);
    -moz-transform: translate(0, calc(-25%)) rotate(135deg);
    -ms-transform: translate(0, calc(-25%)) rotate(135deg);
    transform: translate(0, calc(-25%)) rotate(135deg); }
  [class*="jsmaps-icon"].jsmaps-icon-chevron.jsmaps-theme-light:before {
    border-color: #999999; }
  [class*="jsmaps-icon"].jsmaps-icon-plus {
    height: 12px;
    @-moz-document url-prefix() {
      margin-top: -1px; }
 }
    [class*="jsmaps-icon"].jsmaps-icon-plus:before, [class*="jsmaps-icon"].jsmaps-icon-plus:after {
      background: white; }
    [class*="jsmaps-icon"].jsmaps-icon-plus:before {
      width: 12px;
      height: 2px;
      -webkit-transform: translate(0, -5px);
      -moz-transform: translate(0, -5px);
      -ms-transform: translate(0, -5px);
      transform: translate(0, -5px); }
    [class*="jsmaps-icon"].jsmaps-icon-plus:after {
      width: 2px;
      height: 12px;
      -webkit-transform: translate(-7px, 0);
      -moz-transform: translate(-7px, 0);
      -ms-transform: translate(-7px, 0);
      transform: translate(-7px, 0); }
  [class*="jsmaps-icon"].jsmaps-icon-minus {
    height: 12px;
    @-moz-document url-prefix() {
      margin-top: -1px; }
 }
    [class*="jsmaps-icon"].jsmaps-icon-minus:before, [class*="jsmaps-icon"].jsmaps-icon-minus:after {
      background: white; }
    [class*="jsmaps-icon"].jsmaps-icon-minus:before {
      width: 12px;
      height: 2px;
      -webkit-transform: translate(0, -5px);
      -moz-transform: translate(0, -5px);
      -ms-transform: translate(0, -5px);
      transform: translate(0, -5px); }
    [class*="jsmaps-icon"].jsmaps-icon-minus:after {
      width: 2px;
      height: 12px;
      -webkit-transform: translate(-7px, 0);
      -moz-transform: translate(-7px, 0);
      -ms-transform: translate(-7px, 0);
      transform: translate(-7px, 0); }
    [class*="jsmaps-icon"].jsmaps-icon-minus:after {
      background: transparent; }
  [class*="jsmaps-icon"].jsmaps-icon-reset {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid white;
    border-left-color: transparent; }
    [class*="jsmaps-icon"].jsmaps-icon-reset:before {
      position: absolute;
      width: 0;
      height: 0;
      left: -6.5px;
      bottom: 0;
      border-width: 5px;
      border-style: solid;
      border-top-color: white;
      border-right-color: transparent;
      border-left-color: transparent;
      border-bottom-color: transparent;
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      transform: rotate(135deg); }

@media screen and (min-width:1240px){
#map svg {
    height: 600px !important;
    width: auto !important;
}
}

#map, svg {
    width: 100% !important;
    height: auto !important;
}
.map-outr {
 
    width: 100%;
    margin: auto;
	position: relative;
}